<div class="conteiner-task">
    <div class="changeDiscription" style="display: none;">
        <div class="close"></div>
        <h2 class="nameTask"></h2>
        <p class="changeDiscriptionText"></p>
        <textarea class="changeTextare" name="" id="" cols="30" rows="10"></textarea>
        <button class="task-text-submit" data-submit="">Submit</button>
    </div>
    <div class="task-backlog task-content">
        <h2 class="task-label">Backlog</h2>
        <ul class="task-items" data-state="Backlog">

        </ul>
        <button data-btn="Backlog" class="add-card">Add card</button>
    </div>
    <div class="task-ready task-content">
        <h2 class="task-label">Ready</h2>
        <ul class="task-items" data-state="Ready">

        </ul>
        <button class="task-submit task-submit_hidden" data-submit="Ready">Submit</button>
        <button data-btn="Ready" class="add-card">Add card</button>
    </div>
    <div class="task-in-progress task-content">
        <h2 class="task-label">In Progress</h2>
        <ul class="task-items" data-state="InProgress">

        </ul>
        <button class="task-submit task-submit_hidden" data-submit="InProgress">Submit</button>
        <button data-btn="InProgress" class="add-card">Add card</button>
    </div>
    <div class="task-finished task-content">
        <h2 class="task-label">Finished</h2>
        <ul class="task-items" data-state="Finished">

        </ul>
        <button class="task-submit task-submit_hidden" data-submit="Finished">Submit</button>
        <button data-btn="Finished" class="add-card">Add card</button>
    </div>
</div>