<div class="conteiner-task">
    <div class="task-backlog task-content">
        <h2 class="task-label">Backlog</h2>
        <ul class="task-items" data-state="Backlog">
            <li class="task-item">Login page – performance issues</li>
        </ul>
        <button data-btn="Backlog" class="add-card">Add card</button>
    </div>
    <div class="task-ready task-content">
        <h2 class="task-label">Ready</h2>
        <ul class="task-items" data-state="Ready">
            <li class="task-item">Login page – performance issues</li>
        </ul>
        <button data-btn="Ready" class="add-card">Add card</button>
    </div>
    <div class="task-in-progress task-content">
        <h2 class="task-label">In Progress</h2>
        <ul class="task-items" data-state="InProgress">
            <li class="task-item">Login page – performance issues</li>
        </ul>
        <button data-btn="InProgress" class="add-card">Add card</button>
    </div>
    <div class="task-finished task-content">
        <h2 class="task-label">Finished</h2>
        <ul class="task-items" data-state="Finished">
            <li class="task-item">Login page – performance issues</li>
        </ul>
        <button data-btn="Finished" class="add-card">Add card</button>
    </div>
</div>