/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.navElement {
  background-color: #0067A3;
}

.backGround {
  background-color: #0079BF;
}

.labelName {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
}

.btn-form {
  width: 200px;
}

.task-content {
  padding: 12px;
  width: calc(20% - 12px);
  background: #EBECF0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.conteiner-task {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.task-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

}

.task-item {
  background-color: #fff;
  padding: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border-radius: 5px;
  color: #000000;
  margin: 15px 0;
}

.add-card {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  border: none;
  position: relative;
  color: #5E6C84;
  padding-left: 20px;
  text-align: left;
}

.add-card::after {
  content: '';
  position: absolute;
  background: url('../Vector.svg');
  width: 14px;
  height: 14px;
  top: 5px;
  left: 0;
}

.add-new-task {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  outline: 0;
  width: 100%;
}

.task-item .task-item_select {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  outline: 0;
  width: 100%;
  background-color: white;
}

.task-item .task-item_select .task-item_option {}

.task-submit {
  width: 100px;
  height: 30px;
  background: #0079BF;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
}

.task-submit_hidden{
  display: none;
}